ELEVENLABS_API_KEY=
ELEVENLABS_DEFAULT_VOICE_ID=TX3LPaxmHKxFdv7VOQHJ
APIFY_API_TOKEN=
BACKGROUND_CLIPS_DIR=./background_clips
IMPACT_FONT_PATH=C:\Windows\Fonts\impact.ttf

ENABLE_UPLOAD=false
YOUTUBE_CLIENT_SECRETS_FILE=./.secrets/youtube_client_secret.json
YOUTUBE_TOKEN_FILE=./.secrets/youtube_token.json
