ELEVENLABS_API_KEY=
ELEVENLABS_DEFAULT_VOICE_ID=AHc7z8dzjrGlVbbQ8enm
REDDIT_USER_AGENT=shortsbot/0.1 by u/<your_reddit_username>
REDDIT_CLIENT_ID=
REDDIT_CLIENT_SECRET=
BACKGROUND_CLIPS_DIR=./background_clips
IMPACT_FONT_PATH=C:\Windows\Fonts\impact.ttf

ENABLE_UPLOAD=false
YOUTUBE_CLIENT_SECRETS_FILE=./.secrets/youtube_client_secret.json
YOUTUBE_TOKEN_FILE=./.secrets/youtube_token.json
